<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>weixin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx6963bfc3cd047551</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.xiachufang.recipe</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>xcfapp</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>open.qq</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent213840</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.weibo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb2637534820</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>qqplugin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>QQ00034350</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>tencentopenapi</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent213840</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>GrowingIO</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>growing.65d249af62e613e5</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string></string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>zhi07e939bf5988444db8115fc61651263d</string>
        </array>
      </dict>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>DTPlatformVersion</key>
    <string>10.3</string>
    <key>DTSDKName</key>
    <string>iphoneos10.3</string>
    <key>CFBundleName</key>
    <string>下厨房</string>
    <key>NSRemindersUsageDescription</key>
    <string>允许下厨房访问你的提醒事项</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>允许下厨房读取你的相册</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.lifestyle</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>下厨房</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>weixin</string>
      <string>wechat</string>
      <string>sinaweibohd</string>
      <string>sinaweibo</string>
      <string>weibosdk</string>
      <string>weibosdk2.5</string>
      <string>mqzoneopensdk</string>
      <string>mqzoneopensdkapi</string>
      <string>mqzoneopensdkapi19</string>
      <string>mqzoneopensdkapiV2</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqopensdkapiV3</string>
      <string>wtloginmqq2</string>
      <string>mqqapi</string>
      <string>mqqwpa</string>
      <string>mqzone</string>
      <string>mqq</string>
      <string>alipay</string>
      <string>alipayshare</string>
      <string>org-appextension-feature-password-management</string>
      <string>zhihuSDK</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>允许下厨房使用您的当前位置</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
    </array>
    <key>DTSDKBuild</key>
    <string>14E8301</string>
    <key>NSCameraUsageDescription</key>
    <string>允许下厨房使用你的相机</string>
    <key>CFBundleShortVersionString</key>
    <string>153</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>17A405</string>
    <key>DTPlatformBuild</key>
    <string>14E8301</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>8E3004b</string>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleVersion</key>
    <string>6.3.9</string>
    <key>UIAppFonts</key>
    <array>
      <string>times-bracket.otf</string>
    </array>
    <key>UIStatusBarHidden</key>
    <false/>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>允许下厨房保存图片到你的相册</string>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-Portrait</string>
        <key>UILaunchImageSize</key>
        <string>{768, 1024}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
      </dict>
    </array>
    <key>MinimumOSVersion</key>
    <string>8.0</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>NSMainNibFile</key>
    <string>TabWindow</string>
    <key>Fabric</key>
    <dict>
      <key>Kits</key>
      <array>
        <dict>
          <key>KitName</key>
          <string>Crashlytics</string>
          <key>KitInfo</key>
          <dict/>
        </dict>
      </array>
      <key>APIKey</key>
      <string>f863464d5c9ac70eb22129d813bf252bc8a75a73</string>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>com.xiachufang.recipe</string>
    <key>DTXcode</key>
    <string>0833</string>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeSearch</string>
        <key>UIApplicationShortcutItemType</key>
        <string>recipeSearch</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>搜索菜谱</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>shortcutItemSearch</string>
        <key>UIApplicationShortcutItemSubtitle</key>
        <string></string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeFavorite</string>
        <key>UIApplicationShortcutItemType</key>
        <string>myCollection</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>查看我的收藏</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>shortcutItemFavourite</string>
        <key>UIApplicationShortcutItemSubtitle</key>
        <string></string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeCapturePhoto</string>
        <key>UIApplicationShortcutItemType</key>
        <string>createDish</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>上传我的作品</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>shortcutItemUpload</string>
        <key>UIApplicationShortcutItemSubtitle</key>
        <string></string>
      </dict>
    </array>
    <key>NSCalendarsUsageDescription</key>
    <string>允许下厨房访问你的日历</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>recipe</string>
    <key>NSMainNibFile~ipad</key>
    <string>TabWindow</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
          <string>AppIcon83.5x83.5</string>
        </array>
      </dict>
    </dict>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>
